nav a {
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 30px;
  color: var(--secondary);
  transition: all 400ms;
}

nav a:hover {
  color: #fff;
}

h1 {
  text-align: center;
  font-size: 80px;
  text-transform: capitalize;
  color: var(--primary);
  cursor: pointer;
  transition: color 400ms;
}

/* pseudo c\261Dlass hover */
h1:hover {
  color: var(--tertiary);
}

/* pseudo elements */
/* we use before and after words for that */
/* pseudo elements are INLINE */

h1::before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--tertiary);
}

h1:after {
    content:"\261D" ;
}

article p {
    text-align: center;
    color: #fff;
}

article p::before {
    content: "\263B";
    color: yellow;
}

article p::after {
    content: "\2729";
}

section.text p {
    color: #fff;
}

/* section.text p::first-letter {
    font-size: 60px;
    color: #f11
} */

/* section.text p::first-line {
    color: #f11;
} */

section.text p::selection {
    background-color: #f11;
    color: #00f
}